$white: #fff;
$black: #000;
$green: #B2C721;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.5;
  color: $white;
  background: url(../images/bg-racket.jpg) no-repeat top center fixed;
  background-size: cover;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 { margin: 0 auto 10px; }

a {
  color: darken($green, 10%);
  transition: color .25s;

  &:hover:not(.btn) { color: darken($green, 5%); }
}

.wrapper {
  position: relative;
  z-index: 100;
  height: 100%;
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
}

.logo {
  display: inline-block;
  margin: 0 auto 20px;
  padding: 24px 32px;
  width: 110px;
  height: 110px;
  background-color: #000;
  border: 1px solid rgba($white, .2);
  border-radius: 100%;
  text-align: center;
}

.btn {
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 500;
  padding: 10px 20px;
  color: $white;
  background-color: darken($green, 5%);
  text-decoration: none;
  transition: all .15s;

  & + .btn { margin-left: 20px; }

  span,
  svg {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    margin-right: 4px;

    path {
      fill: $white;
    }
  }

  &:hover:not(.btn--white) {
    background-color: $green;
  }
}

.btn--white {
  padding: 5px 10px;
  background-color: transparent;
  color: $white;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

.header-logo {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;

  @media screen and (min-width: 48.000em) {
    margin-bottom: 100px;
  }
}

.header {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 40px;
  text-align: center;

  h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: $white;
  }

  @media screen and (min-width: 48.000em) {
    width: 940px;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 0;

    h1 {
      font-size: 80px;
      line-height: 60px;
    }

    h2 {
      font-size: 22px;
    }
  }
}

.main {
  margin: 0 auto;
  max-width: 500px;
  color: #000;
  background: $white;

  .main-heading {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    display: none;
  }

  .main-content {
    padding: 30px;
  }
}

.sports {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    color: $green;

    @media screen and (min-device-width: 48.000em) {
      font-size: 18px;
    }

    &:nth-child(even) {
      color: lighten($green, 30%);
    }
  }
}

.opening {
  font-weight: 100;
  font-size: 24px;
  text-transform: uppercase;
  color: #B0C800;

  br { display: block; }

  &:before {
    content: "";
    display: block;
    height: 1px;
    width: 70px;
    margin-bottom: 20px;
    background-color: #B0C800;
  }

  @media screen and (min-device-width: 48.000em) {
    position: absolute;
    left: 70px;
    bottom: 20px;
    width: 100%;

    br { display: block; }
  }
}

.contact {
  display: flex;
  margin-bottom: 20px;

  &:last-child { margin-bottom: 0; }

  .contact-label {
    width: 80px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .contact-desc {
    font-weight: 500;
    font-style: italic;
  }

  @media screen and (min-device-width: 48.000em) {
    .contact-label {
      width: 140px;
      margin-right: 20px;
    }
  }
}

.work-in-progress {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 120;
  padding: 4px 8px 2px;
  font-size: 13px;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  color: $white;
  border: 1px solid rgba($white, .1);
  background: rgba($white, .1);
  border-radius: 0 0 0 2px;
}
